


<li class="side-menu">
    <a href="@Url.Action("XemGioHang","GioHang")">
        <span style="color: red;font-weight: bold;">@ViewBag.TinhTongTien.ToString("#,##") <span style="color: blue;">VNĐ</span></span>
        &nbsp
        <i style="font-size: 21px" class="fa fa-shopping-bag"></i>
        <span style="font-size: 16px; color: red;" class="badge">&nbsp; @ViewBag.TongSoLuong</span>
    </a>
</li>

